@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

:root {
  --primary-color: #0e0e63;
  --secondary-color: #293f6e;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  overflow-x: hidden;
}

body {
  background: url(img/modern-realistic-3d-cinema-banner-600nw-1470102290.webp)
    no-repeat center / cover;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  padding: 1rem;
  min-height: 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
}

.logo p {
  font-size: 1.3rem;
  font-weight: 900;
  color: #92fbff;
  animation: logo-animate 3s 3s linear infinite;
}

.logo img {
  height: 30px;
  width: 100%;
  position: relative;
  left: -0.7rem;
  animation: drop-logo 3s 5s infinite;
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

.search::placeholder {
  color: #92fbff;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: #667194;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: TranslateY(100%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: TranslateY(0);
}

footer {
  position: relative;
  bottom: 0;
  left: auto;
  height: 10%;
  background-color: var(--secondary-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes drop-logo {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-100%);
  }
  20% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 700px) {
  html {
    font-size: 15px;
  }
}